/* You can add global styles to this file, and also import other style files */
html,
body {
 height:100%;
 margin:0;
}

.container {
 display:grid;
 grid-template-columns:
 350px 1fr;
 height:100vh;
}

.sidebar {
 padding:20px;
 border-right:1px solid #ddd;
}

.content {
 display:flex;
 flex-direction:column;
}

.kpis {
 display:flex;
 gap:10px;
 padding:10px;
}

#map {
 height:100%;
 width:100%;
}

.leaflet-pane {
  z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 10px !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15) !important;
}

.leaflet-popup-content {
  margin: 12px 16px !important;
}